@model HTTP_5101_Assignment_3.Models.Student
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Student/List">Back To Students</a>
    </nav>
    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <p>Student Number is @Model.StudentNumber </p>
    <p style="font-style:italic;">Enrolled Since @Model.StudentEnrolDate.ToString("dd-MMM-yyyy")</p>
    <p>Class is @Model.ClassName</p>
</div>

