@model HTTP_5101_Assignment_3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Employee Number is @Model.TeacherEmployeeNumber </p>
    <p style="font-style:italic;">Hired Since @Model.TeacherHireDate.ToString("dd-MMM-yyyy")</p>
    <p>Salary is @Model.TeacherSalary</p>
    <p>Class is @Model.ClassName</p>
</div>

