@model HTTP_5101_Assignment_3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Employee Number: @Model.TeacherEmployeeNumber</p>
    <p style="font-style:italic;">Hired Since @Model.TeacherHireDate.ToString("dd-MMM-yyyy")</p>
    <p>Salary: @Model.TeacherSalary</p>
    <p>Class: @Model.ClassName</p>
</div>

