@model HTTP_5101_Assignment_3.Models.ViewModel.ShowTeacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="navlink" href="/Teacher/Update/@Model.SelectedTeacher.TeacherId">Update</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.SelectedTeacher.TeacherId">Delete</a>
    </nav>
    <h2>@Model.SelectedTeacher.TeacherFname @Model.SelectedTeacher.TeacherLname</h2>
    <p>Employee Number: @Model.SelectedTeacher.TeacherEmployeeNumber</p>
    <p style="font-style:italic;">Hired Since @(Model.SelectedTeacher.TeacherHireDate.HasValue ? Model.SelectedTeacher.TeacherHireDate.Value.ToString("dd-MMM-yyyy") : "N/A")</p>
    <p>Salary: @Model.SelectedTeacher.TeacherSalary</p>
    <p>Class: </p>
    @foreach (var Course in @Model.AssociatedCourses)
            {
                <p>@Course.CourseCode @Course.CourseName</p>
            }
</div>

