@model HTTP_5101_Assignment_3.Models.ViewModel.ShowTeacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="navlink" href="/Teacher/Update/@Model.SelectedTeacher.TeacherId">Update</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.SelectedTeacher.TeacherId">Delete</a>
    </nav>
    <h2>@Model.SelectedTeacher.TeacherFname @Model.SelectedTeacher.TeacherLname</h2>
    <p>Employee Number: @Model.SelectedTeacher.TeacherEmployeeNumber</p>
    <p style="font-style:italic;">Hired Since @(Model.SelectedTeacher.TeacherHireDate.HasValue ? Model.SelectedTeacher.TeacherHireDate.Value.ToString("dd-MMM-yyyy") : "N/A")</p>
    <p>Salary: @Model.SelectedTeacher.TeacherSalary</p>
    <p>Class taught: </p>
    @foreach (var Course in @Model.AssociatedCourses)
    {
        <div>
            <span>@Course.CourseCode @Course.CourseName</span>
            <form method="POST" action="/Teacher/RemoveCourse/@Model.SelectedTeacher.TeacherId">
                <input type="hidden" name="teacherid" value="@Model.SelectedTeacher.TeacherId" />
                <input type="hidden" name="classid" value="@Course.CourseId" />
                <button class="delbutton">
                    X
                </button>
            </form>
        </div>
    }
    <p>Unassigned class: </p>
    @foreach (var Course in @Model.UnassignedCourses)
    {
        <div>
            <span>@Course.CourseCode @Course.CourseName</span>
            <form method="POST" action="/Teacher/AddCourse/@Model.SelectedTeacher.TeacherId">
                <input type="hidden" name="teacherid" value="@Model.SelectedTeacher.TeacherId" />
                <input type="hidden" name="classid" value="@Course.CourseId" />
                <button>
                    Add
                </button>
            </form>
        </div>
    }
</div>

