
@model HTTP_5101_Assignment_3.Models.Teacher
@{
    ViewBag.Title = "Update";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
    </nav>
    <form method="POST" action="/Teacher/Edit/@Model.TeacherId" onsubmit="return ValidateTeacher();">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" required />

        </div>
        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" required />

        </div>
        <div class="inputrow">
            <label for="TeacherEmployeeNumber">Employee Number:</label>
            <input type="text" id="TeacherEmployeeNumber" name="TeacherEmployeeNumber" value="@Model.TeacherEmployeeNumber" required />
        </div>
        <div class="inputrow">
            <label for="TeacherHireDate">Hire Date:</label>
            <input type="date" id="TeacherHireDate" name="TeacherHireDate" value="@Model.FormattedHireDate" required />

        </div>
        <div class="inputrow">
            <label for="TeacherSalary">Salary:</label>
            <input type="number" step="0.01" id="TeacherSalary" name="TeacherSalary" value="@Model.TeacherSalary" required />
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Teacher" />
        </div>
        <div id="ErrorBox">@ViewBag.ErrorMsg</div>
    </form>
</div>